<!DOCTYPE html>
<html>
<head>
    <!-- Your other meta tags, title, and stylesheets -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>

<div class="form-group">
    <div class="dropdown">
        <input style="display:block; width:100%" class="btn btn-light dropdown-toggle search-input" type="text" placeholder="Select Years">
        <div class="dropdown-menu full-width scrollable-menu" aria-labelledby="subjectDropdown">
            <div class="dropdown-options">
                <div class="checkbox-option">
                    <input type="checkbox" name="timeframe" value="2016">
                    <label for="maths">2016</label>
                </div>
                <!-- Add more checkbox options here -->
            </div>
        </div>
    </div>
</div>

<style>
    .dropdown-menu.full-width {
        width: 100% !important;
        left: 0 !important;
        right: 0 !important;
    }

    .scrollable-menu {
        max-height: 200px;
        overflow-y: auto;
    }

    .dropdown-options .checkbox-option {
        display: none;
    }
</style>

<script>
    $(document).on('click', function (e) {
        if (!$(e.target).closest('.dropdown').length) {
            $('.dropdown-menu').hide();
        }
    });

    $('.search-input').on('input', function() {
        var searchText = $(this).val().toLowerCase();
        var options = $('.dropdown-options .checkbox-option');

        options.each(function() {
            var optionText = $(this).text().toLowerCase();
            if (optionText.indexOf(searchText) !== -1) {
                $(this).show();
            } else {
                $(this).hide();
            }
        });
    });

    $('.search-input').on('click', function() {
        $(this).next('.dropdown-menu').toggle();
    });
</script>

</body>
</html>

